* {
    margin: 0;
    padding: 0;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header {
    display: flex;
    justify-content: space-between;
    height: 150px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    padding: 15px;
}

.header_logo {
    display: flex;
    align-items: center;
}
.header_logo_img {
    height: 200px;
    margin-right: 10px;
}
nav a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 700;
    padding-right: 10px;
}
nav a:hover {
    color: #c2771e;
}